<app-headernav pageType="authentication"></app-headernav>
<div class="registration-form container shadow-lg p-3 mb-5 bg-body rounded mt-6 glass">
    <form [formGroup]="registrationForm" (ngSubmit)="onRegistrationSubmit()">
        <div class="form-heading text-center mt-3 mb-3"><h3>Registration</h3></div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Email</span>
            <input required formControlName="userEmail" type="email" class="form-control" placeholder="abc@xyz.com" aria-label="Email" aria-describedby="basic-addon1">
        </div>
        <div class="row">
            <div class="col input-group mb-3">
                <span class="input-group-text" id="basic-addon1">First Name</span>
            <input required formControlName="userFirstName" type="name" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1">
            </div>
            <div class="col input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Last Name</span>
                <input required formControlName="userLastName" type="name" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="row">
            <div class="col input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Password</span>
            <input required formControlName="userPassword" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <div class="col input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Confirm Password</span>
            <input required formControlName="userCPassword" type="password" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="buttons text-center">
            <a routerLink="/login" class="">Already a user? Login</a>
            <button [disabled]="!registrationForm.valid" type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
</div>